<%-include("partials/header")%>
<div style="text-align: center; padding: 20%; background-color: rgb(128, 128, 8);">
   <h4 ><i style="color: rgb(245, 86, 86);">Successfully deleted</i></h4>

 <form >
      <a class="btn btn-light btn-outline-danger " href="/" role="button" style="margin-top: 8%;">Home</a>
   </form>
</div>



<%-include("partials/footer")%>