     
   <%-include("partials/header")%>
    <h1>Task Achievers</h1>
    <div style=" text-align: center; padding-bottom: 4%;" >
      <img src="logo.jpg" alt="logo-image" srcset="" style="border-radius: 100%;" >
    </div>
     
    <div id="userChoice">
  
    <a class="btn btn-light btn-lg" href="/headlines" role="button">Top Headlines</a>
    <a class="btn btn-dark btn-lg" href="/everything" role="button">Everything</a>
    </div>
    

    <%-include("partials/footer")%>